@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-light;
}
.parent{
    @apply flex justify-center items-center min-h-screen overflow-y-auto;
}
.child{
    @apply flex flex-col justify-center items-center ;
}

.intro-box{
    @apply bg-light px-2 py-3 rounded-xl border-s-8 border-secondary shadow-lg text-dark;
}

.main-btn{
    @apply bg-primary text-light  py-2 px-4 rounded-xl my-4;
}
.main-btn:hover,:focus{
    @apply bg-secondary cursor-pointer transition-colors duration-200;
}
.form-label{
    @apply absolute -top-3 left-3 bg-white text-primary px-2 text-sm font-semibold;
}
.form-input{
    @apply w-full border-2 border-secondary rounded-md p-2 focus:outline-none focus:border-primary transition-all duration-200;
}
.form-title{
    @apply text-2xl font-bold text-primary text-center mb-6;
}

.form-child{
    @apply bg-white shadow-md rounded-xl p-8 w-11/12 md:w-1/3 border-t-4 border-primary relative ;
}
.nav-btn{
    @apply  hover:bg-accent hover:text-primary px-5 py-3 rounded-2xl transition-all duration-200;
}

.form-btn{
    @apply bg-primary hover:bg-secondary text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-200;
}

.adminBox{
    @apply flex items-center justify-center  flex-col bg-light shadow-md rounded-xl py-3 px-5 border-s-4 border-primary m-5 overflow-y-auto;
}
